<header class="header">
    <div class="container">
      <a routerLink="/" class="logo">Sistema Biblioteca</a>
      <nav class="navbar">
        <ul class="nav-list">
          <li class="nav-item">
            <a routerLink="/home" routerLinkActive="active">Inico</a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" routerLinkActive="active">Libros</a>
          </li>
          <li class="nav-item">
            <a routerLink="/contact" routerLinkActive="active">Contacto</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  