<header class="header">
    <div class="container">
      <a [routerLink]="['/inicio']" class="logo">Sistema Biblioteca</a>
      <nav class="navbar">
        <ul class="nav-list">
            <li class="active"> <a routerLink="/user-home">Ir a Inicio</a> </li>
            <li class="active"> <a routerLink="/user-vista">Ver Libros</a> </li>
        </ul>
      </nav>
    </div>
</header>

<div class="container mt-4">
  <h1>{{ decoratedMessage }}</h1>
  <p>Utiliza el menú de navegación para explorar los libros disponibles.</p>
  <button class="btn btn-primary" (click)="decorateMessage()">Decorar Mensaje usando Decorator</button>
  <button class="btn btn-danger" (click)="logout()">Cerrar Sesión</button>
</div>